.screen{
    max-height: 224px;
    background-image: url("./Imagenes/banner.png");
    background-size: cover;
    display: flex;
}

.tercio{
    width: 33%;
}

.fotomarco{
    text-align: center;
    max-width:max-content;
}

.fotoperfil{
    height: 224px;
    border-radius: 50px;
}

.userdata{
    font-family: sans-serif;
    font-size: 110%;
}

.UserElement{
    margin-top: 20px;
    margin-bottom: 25px;
    
}

.userItem{
    color: rgb(145, 0, 0);
    font-weight: bold;
}

.userCont{
    color:rgb(1, 0, 75);
}

.Plist{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    border-radius: 10px;
    width: 95%;
    margin-left: 2.5%;
}

.Pcontent{
    margin: 20px;
    padding: 10px;
}

.ProyectTitle{
    font-weight: bold;
    color: rgb(179, 0, 0);
}

.ProyectItem{
    font-size: 90%;
    color: black;
}

.mrg-top20px{
    margin-top: 20px;
}

.marginB10px{
    margin-bottom: 20px;
}

.mrg-0pc{
    margin-bottom: 0%;
}

.mrg-10px{
    margin: 10px;
}

.banner{
    background-image: "./Ao.jpg";

}

.TProyect{
    text-align: center;
    color: rgb(0, 0, 90);
    font-weight: bold;
    font-size: xx-large;
    background-color: peru;
    margin-top: 50px;
    border-radius: 20px;
}

.descripcion{
    background-color: rgb(161, 150, 150,0.5);
    border-radius: 20px;
}

.Texto{
    margin: 50px;
}

.gitLink{
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: azure;
    width: 80%;
    border-width: 1px;
    border-color: black;
    pointer-events: visible;
}

.btn-colorT{
    background-color: rgba(12, 0, 82, 0.5);
}

.btn-color{
    background-color: rgba(12, 0, 82);
}


.todo{
    width: 100%
}


.mitad{
    width: 50%;
}


.bgc-blanco{
    background-color: white;
}

.ta-center{
    text-align: center;
}

.dp-flex{
    display: flex;
}

.brd-10px{
    border-radius: 10px;
}

.pimage{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.ProyectBox{
    border-width: 3px;
    border-color: rgb(0, 0, 153);
    border-style: dashed;
}

.marcado{
    background-color: rgba(0, 0, 223, 0.5);
}

.mitadV{
    height:50%;
}

.dp-contents{
    display: contents;
}

.siete-octavosV{
    height: 87.5%;
}

.octavoV{
    height: 12.5%;
}

.dos-tercios{
    width: 66%;
}

.tercio{
    width: 33%;
}

