.screen{
    height: 350px;
    background-color: green;
}

.tercio{
    width: 400px;
}

.fotomarco{
    background-color: aliceblue;
    height: 100%;
}

.fotoperfil{
    height: 95%;
    width: 100%;
}